@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Sora:wght@800&display=swap');
@import "tailwindcss";

*{
  font-weight: 500;
  font-family: "Manrope", sans-serif;
}

.oxygen-logo {
  font-family: 'Saira Stencil One', sans-serif;
}
.io-logo {
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
}

@theme {
  --color-primary: #5044e5;
}

@variant dark (&:where(.dark, .dark *));
