@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

*{
  font-weight: 500;
  font-family: "Manrope", sans-serif;
}

@theme {
  --color-primary: #5044e5;
}

@variant dark (&:where(.dark, .dark *));


